<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Report Card</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="./style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <div id="root">
        <div>
            <h1 class="mb-3">Students</h1>
        </div>
        <table class="table table-striped">
            <thead>
                <tr class="text-center">
                    <th role="col">#</th>
                    <th>Nome</th>
                    <th>Cognome</th>
                    <th>Matricola</th>
                    <th>Italiano</th>
                    <th>Matematica</th>
                    <th>Inglese</th>
                    <th>Informatica</th>
                    <th>Media Tot.</th>
                </tr>
            </thead>
            <tbody>
                <tr class="text-center" v-for="(student, index) in students"
                    :class="{'table-danger' : hasBeenRejected(student.voti)}">
                    <th role="col" class="">{{ index + 1 }}</th>
                    <td>{{ student.nome }}</td>
                    <td>{{ student.cognome }}</td>
                    <td>#{{ student.matricola }}</td>
                    <td v-for="materia in student.voti">{{ getAverage(materia) }}</td>
                    <td>{{ getTotalAverage(student.voti) }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <script src="./data.js"></script>
    <script src="./script.js"></script>
</body>

</html>